# Ignorer tous les fichiers générés par Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Ignorer les Addressables et StreamingAssets
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*

# Unity Cloud Build
/[Bb]uilds/**/output/

# Fichiers spécifiques à la plateforme
*.pdb
*.ilk
*.exp
*.exe
*.dmg
*.app
*.x86
*.x86_64

# Fichiers auto-générés
*.unityproj
*.pidb
*.mdb
*.pdb
*.rsp
*.tmp
*.cache
*.bak
*.log

# Ignorer les fichiers Visual Studio
.vs/
*.userprefs

# Plugin JetBrains Rider
[Aa]ssets/Plugins/Editor/JetBrains*

# Cache Gradle
.gradle/

# Fichiers de configuration personnalisés
*.env
.env.local
.env.development
.env.production
.env.test

# Backups Unity
*.unity~

# Artifacts de build
*.apk
*.aab
[Ww]eb[Gg][Ll]/
*.xcworkspace
*.xcodeproj
*.xcuserdata

# Fichiers temporaires ou de test
/test/
*.test
*.temp

# Fichiers Crashlytics
crashlytics-build.properties

# Ignorer les fichiers Unity PackageCache
Projet_Autonomie/Library/PackageCache
Projet_Autonomie/UserSettings

# Ignorer tous les fichiers .csproj et .sln
*.csproj
*.sln

# Exceptions pour inclure les fichiers spécifiques
!fps.AI.csproj
!fps.Editor.csproj
!MiniFPS.sln
